.kg {
  position: relative;
  &::before {
    position: absolute;
    right: -35px;
    top: 3px;
    content: '(Kg)';
    color: black;
  }
}

.cm {
  position: relative;
  &::before {
    position: absolute;
    right: -35px;
    top: 3px;
    content: '(Cm)';
  }
}

.m {
  position: relative;
  &::before {
    position: absolute;
    right: -35px;
    top: 3px;
    content: '(m3)';
    color: black;
  }
}
